header {
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-100);
  padding-inline: 20px;
  padding-block: 12px;
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 1;
}

.logo {
  font-weight: 900;
  font-size: var(--text-xl);
  color: var(--blue-900);
}



/* tablet & desktop */
@media (min-width: 700px) {
  .logo {
    font-size: var(--text-2xl);
  }
}

@media (min-width: 900px) {
  .logo {
    font-size: var(--text-3xl);
  }
}