header {
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-100);
  padding-inline: 20px;
  padding-block: 8px;
  position: fixed;
  inset: 0 0 auto 0;
}

.logo {
  font-weight: 700;
  font-size: var(--text-xl);
  color: var(--blue-900);
}
